$background-color: #001AFF2B;
$highlight-color: #ffa500;
$primary-color: #2947A9;
$light-text: #ffffff;
$text-dark: #1e1e1e;
$text-light: #7c8aa0;
$card-border: #dce1ec;
$light-gray: #f2f2f2;
$button-hover-bg: rgba(255, 255, 255, 0.1);

$font-family: "Work Sans", sans-serif;

$final-breakpoint: 1000px;
$breakpoint: 700px;